<div class="container">
  <div class="row">
    <ul class="col-xs-8 col-xs-offset-2 text-center" id="index-items">
      <% @articles.each do |article| %>
      <li>
        <%= link_to article.title, article_path(article.id) %>
        <p><%= sanitize( Kramdown::Document.new(article.content.split(" ").first(15).join(" ")).to_html) %></p>
      </li>
      <% end %>
    </ul>
  </div>
</div>
